body{
    background-color: black !important;
}
.footer{
    background-color: rgb(1, 1, 1) !important;
}
.fa-heart{
    color:red !important;
}
.text{
    color: aliceblue;
}
.text1{
    color: #419A6F !important;
}
